.observation-code {
    color: dimgray;
    font-size: small;
}

.observationType-component {
    background-color: antiquewhite;
}

.observationType-concept {
    background-color: darkcyan;
}

.observationType-ObservationMisc {
    background-color: #ff8e8e;
}

.observationType-MedicationRequest {
    background-color: #8be78b;
}
