@model IEnumerable<Hl7.Fhir.Model.Patient>;
@{
    ViewData["Title"] = "Pacjenci";
}

<form style="margin: 20px;" asp-action="Search" asp-controller="Home">
    <label for="patientsSurname">Szukaj</label>
    <div class="form-group row">
        <p class="col-sm-1 col-form-label" style="padding-top: 5px;">Nazwisko</p>
        <div class="col-sm-11">
            <input type="text" name="surname" style="width: 60px; min-width: 200px;" class="form-control" id="patientsSurname" aria-describedby="nameHelp" placeholder="Wpisz nazwisko pacjenta">
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Szukaj</button>
    @Html.ActionLink("Wyczyść filtry", "Patient", "Home", new { }, new Dictionary<string, object> { { "class", "btn btn-warning" } })

</form>

<h1>Lista pacjentów</h1>
<table class="table table-hover">
    <tr>
        <th>Nazwisko pacjenta</th>
        <th>Imię pacjenta</th>
        <th>Dane kontaktowe</th>
    </tr>
    @if (Model.Count() == 0)
    {
        <tr>
            <td colspan="3" style="text-align:center;"><b style="color: coral;">Brak danych</b></td>
        </tr>
    }
    else
    {
        @foreach (var item in Model)
        {
            <tr class="clickable-row" data-href="\Presentation\ViewPatient\@(item.Id)">
                <td>@(item.Name.FirstOrDefault()?.Family ?? "brak danych")</td>
                <td>@(item.Name.FirstOrDefault()?.Given.Aggregate((x, y) => $"{x} {y}") ?? "brak danych")</td>
                <td>
                    @foreach (var contact in item.Telecom)
                    {
                        @($"{contact.System}: {contact.Value}")<br />;
                    }
                </td>
            </tr>
        }
    }

</table>

<script>
    jQuery(document).ready(function ($) {
        $(".clickable-row").click(function () {
            window.location = $(this).data("href")
        });
    });
</script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.js"></script>

<!-- Latest compiled and minified Locales -->
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/locale/bootstrap-table-zh-CN.min.js"></script>